@charset "utf-8"
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
ul,li{
	list-style: none;
}
img{
	display: block;
    width: 100%;
}
body{
	color: #000;
	text-align: center;
}
/* 상단 */
header{
	width: 35%;
	/* background-color: antiquewhite; */
    position: fixed;
	top: 0;
	left: 0;
	text-shadow: 40px 40px 30px rgb(0, 0, 0, 0.5);
}
header h1{
	position: relative;
	font-size: 85px;
    font-weight: 800;
margin-top: 170px;
margin-left: 10%;
text-align: left;
z-index: 99999;
}
header h1 span{
	font-size: 75px;
	font-weight: 200;
}
/* 이미지 오브젝트 */
.object{
	width:100%;
	/* background-color:blueviolet; */
	height: 500px; 
	position: absolute;
	top:0;
	left: 0;
	/* background-color: blueviolet; */
}
.object .border{
	width: 500px;
	height: 500px;
	/* background-color: pink; */
	border: 1px solid #d8d8d8;
	border-radius: 50%;
    position:absolute;
	left: -100px;
	bottom: 100px;
	animation: obj2 1s ease-in-out;
	  /* 애니메이션 완료된후에도 최종 상태를 유지하도록 설정 */
	  animation-fill-mode: both;

}
.border img{
	left: -200px;
	bottom: 0;
	animation: obj1 1s ease-in-out;
	/* 애니메이션 완료된후에도 최종 상태를 유지하도록 설정 */
	animation-fill-mode: both;
}
@keyframes obj{
	0%{
        transform: translateX(-500px)
	}
	100%{
		transform: translateX(0px)
	}
}
@keyframes obj2{
	0%{
		transform: translateX(-500px)
	}
	100%{
		transform: translateX(30px)
	}
}
section{
width: 60%;
margin-top: 200px;
margin-left: 600px;

}
.contents{
	width: calc(100%/3);
	float: left;
}
.contents a{
	width: 90%;
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
	/* margin: auto; */
}
.contents a img{
	transition: all 0.3s;
}
.contents a img:hover{
	transform: scale(1.5);
 filter:grayscale(50%);
}
nav{
	width: 10%;
	/* background-color: aqua; */
    height: 100%;
	position: fixed;
	top:0;
	right: 0;
}
nav a{
	width: 40px;
	height: 30px;
    /* background-color: antiquewhite; */
	display: block;
    
}
nav a span{
	width: 40px;
	height: 5.3px;
	background-color: #000;
	display: block;
}
nav a span:nth-child(2){
	margin: 7px 0;

}/* 하단 */
footer{
    width: 100%;
    background-color: #000;
    padding: 50px 0;
    clear: left;
    color: #fff;
}
.ft-icon{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.ft-icon li{
    display: inline-block;
    padding: 0 10px;
}
